<launch>
  <node pkg="daybreak_2k17" name="driverstation" type="driverstation"/>

  <node pkg="daybreak_2k17" name="drivebase" type="drivebase"/>

  <node pkg="daybreak_2k17" name="Motor_Out" type="motorout"/>

  <node pkg="daybreak_2k17" name="Camera" type="camera"/>
  <node pkg="daybreak_2k17" name="Cam2Net" type="camtonet"/>
</launch>
